{% extends "./plantilla.html" %}
{% block body %}
<br>
<div class="row justify-content-center">
    <div class="col-md-6"> <!-- Ajustar el tamaño de la columna -->
        <div class="card border-2">
            <div class="card-header text-center" style="background-color: #76d7c4; color: #000000;">
                <h4><b>Agregar Nueva Empresa</b></h4>
            </div>
            <div class="card-body">
                <form action="/guardarEmpresa/" method="post" enctype="multipart/form-data" id="frm_nuevo_empresa">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="ruc"><b>RUC</b></label>
                        <input type="text" name="ruc" id="ruc" class="form-control" placeholder="Ingrese el RUC de la empresa" required style="color: black;"/>
                    </div>
                    <div class="form-group mb-3">
                        <label for="nombre_empresa"><b>Nombre de la Empresa</b></label>
                        <input type="text" name="nombre_empresa" id="nombre_empresa" class="form-control" placeholder="Ingrese el nombre de la empresa" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="descripcion"><b>Descripción</b></label>
                        <textarea name="descripcion" id="descripcion" class="form-control" rows="3" placeholder="Ingrese la descripción de la empresa" required></textarea>
                    </div>
                    <div class="form-group mb-3">
                        <label for="foto"><b>Foto</b></label>
                        <input type="file" name="foto" id="foto" accept="image/*" class="form-control" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a href="{% url 'listadoEmpresas' %}" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<script type="text/javascript">
    $("#frm_nuevo_empresa").validate({
        rules: {
            ruc: {
                required: true,
                digits: true,
                minlength: 13,
                maxlength: 13,
                rucValid: true
            },
            nombre_empresa: {
                required: true,
                lettersonly: true,
                minlength: 2
            },
            descripcion: {
                required: true,
            },
        },
        messages: {
            ruc: {
                required: "Por favor ingrese el RUC de la empresa",
                digits: "Solo se permiten números",
                minlength: "El RUC debe tener exactamente 13 dígitos",
                maxlength: "El RUC debe tener exactamente 13 dígitos",
                rucValid: "El RUC debe terminar en 001"
            },
            nombre_empresa: {
                required: "Por favor ingrese el nombre de la empresa",
                lettersonly: "Solo se permite letras",
                minlength: "El nombre debe tener al menos 2 letras",
            },
            descripcion: {
                required: "Por favor ingrese la descripción de la empresa",
            },
        }
    });
      // Método personalizado para validar que el RUC termine en '001'
      $.validator.addMethod("rucValid", function(value, element) {
        return this.optional(element) || value.endsWith("001");
    }, "El RUC debe terminar en 001");

    // Custom validation methods
    $.validator.addMethod("lettersonly", function(value, element) {
        return this.optional(element) || /^[a-zA-Z\s]+$/.test(value);
    }, "Solo se permite letras");
</script>
<script>
    $(document).ready(function() {
        $("#foto").fileinput({
            showBrowse: true,
            browseOnZoneClick: true,
            language: 'es'
        });
    });
      </script>
{% endblock %}
